# Django secret data
SECRET_KEY=
DEBUG=True

# Database secret data
DATABASE_NAME=drf_project
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432

# stripe.api_key
STRIPE_API_KEY=
