# Django secret data
SECRET_KEY=
DEBUG=True

# Database secret data
DATABASE_NAME=drf_project
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432

# stripe.api_key
STRIPE_API_KEY=

# Redis location
REDIS_LOCATION=redis://localhost:6379/0

# Mailing server data
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
